//
//  Development.xcconfig
//  MovieTime
//
//  Created by Ненад Љубиќ on 25.12.25.
//


// MARK: - App Identity
PRODUCT_BUNDLE_IDENTIFIER = com.ljubikn.MovieTime.dev
PRODUCT_NAME = MovieTimeDev
INFOPLIST_KEY_CFBundleDisplayName = MovieTime Dev

// MARK: - API Configuration
TMDB_ACCESS_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMDRhNjlmMGZmNjk2ZDkwODMxYjc0ODhjZWM4NmRkZiIsIm5iZiI6MTc2NjU5ODQxMy42MjcsInN1YiI6IjY5NGMyNzBkZmU5Y2Q5OGQ0ZDhjZDZiNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.B3n9cH6hga7I6ssaI2aW8xrJw4KJFcEKHG0hJfDEWDk
INFOPLIST_KEY_TMDB_ACCESS_TOKEN = $(TMDB_ACCESS_TOKEN)
